<header>
        <nav class="main-nav">
            <a href="/mainProjects.html">Main Projects</a>
            <a href="/sideProjects.html">Side Projects</a>
            <a href="/gameJams.html">Game Jams</a>
            <a href="/aboutMe.html">About Me</a>
            <a href="/contacts.html">Contacts</a>
        </nav>

        <a href="/index.html" class="logo">Corentin Remot</a>

        <nav class="social-nav">
            <a
            href="https://www.linkedin.com/in/corentinremot/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
            >
                <img src="images/linkedin-logo_white.png" alt="">
            </a>

            <a
            href="https://github.com/CorentinRt"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub"
            >
                <img src="images/github-logo_white.png" alt="">
            </a>

            <a
            href="mailto:corentin.remot@gmail.com"
            aria-label="Email"
            >
                <img src="images/mail-logo_white.png" alt="">
            </a>
        </nav>
    </header>